<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title >Abyss Core</title>
    <link rel="stylesheet" href="Login_form.css">
</head>
<body>
    <h1>Abyss Core</h1>
    <h3>للتداول بين الشركات والاشخاص</h3>
    <div>


        <label>Username:</label><input type="text" placeholder="Username" >


        <label>Password :</label><input type="password" placeholder="password">

        

                               <button> Log in</button>
                <a  href="/signup">sign up</a>
    </div>
   
</body>
</html>